* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e5e5;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo img {
    width: 120px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #E4E4E1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background-color: #4CAF50;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 50px 50px;
    background-color: #f4f4f4;
    min-height: 80vh;
}

.text-content {
    flex: 1;
    text-align: center;
}

.main-btn {
    background-color: #AEBFA4;
    color: #333;
    font-size: 20px;
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-btn:hover {
    background-color: #fff;
    color: #AEBFA4;
}

.image-content img {
    width: 250px;
    max-width: 100%;
    border-radius: 10px;
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
    flex-direction: column;
}

.testimonial-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.testimonial {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #e0e0e0;
}

.testimonial p {
    font-size: 16px;
    color: #333;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        padding: 80px 20px;
    }

    .nav-links {
        width: 80%;
    }

    .nav-links li a {
        font-size: 14px;
    }

    .image-content img {
        width: 150px;
    }
}
